# Dependencies
.pnp
.pnp.js
node_modules

# Testing
coverage

# Build outputs
.elastic
.next
.nuxt
.output
build
dist
out

# Misc
.DS_Store
.idea
.node-persist
*.log
*.pem
logs.txt
tmp
tsconfig.tsbuildinfo

# Package managers debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env.development.local
.env.local
.env.production.local
.env.test.local

# Turbo
.turbo

# @thecompaniesapi/data
!results/*/.gitkeep
!scripts/resources/.gitkeep
results/*/*
scripts/resources/*

# @thecompaniesapi/power
/apps/power/resources/data
/apps/power/resources/files
/apps/power/resources/processed
/apps/power/data/domains/*
!/apps/power/data/domains/.gitkeep
/apps/power/logs/power.log

# @thecompaniesapi/api
database/*.sqlite
resources/exports/*[.csv,.gz,.tar]
